<!DOCTYPE html>
include ../include/ie_html
	head
		meta(charset="UTF-8")
		meta(name="description" content="")
		title Поиск без js
		block styles
			link(rel="stylesheet", href="css/normalize.css")
			link(rel="stylesheet", href="css/main.css")
			link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext,latin' rel='stylesheet')
		include ../include/ie_head
	body
		block content
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")