extends templates/main_template
block content
	div.test-block
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla maxime magni eveniet! Dolores nulla impedit repudiandae deserunt rerum, quas mollitia.
		p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, dignissimos!

	
block append scripts
	script(src="js/main.js")
		