<!--[if lt IE 7]> <html class="ie6 oldie" lang="ru"> <![endif]-->   <!--IE < 7 - -->
<!--[if IE 7]>    <html class="ie7 oldie" lang="ru"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru"> <!--<![endif]-->    <!--IE > 8 - -->
